/* 
    Created on : 13-Feb-2017, 08:18:31
    Author     : Daniel S.
*/
h1{
    text-align:center;
    color: gold;
    background-color:brown;
}
body{
    background-color: #a68ef0;
}
h2{
    text-align:center;
    font-style: italic;
}
nav{
    text-align: center;
}
a{
    display: inline-block;
    width: 130;
    height: 50px;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: brown;  
    border: 2px silver solid;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 3px 3px 4px black;
    line-height: 50px;
}
img{
    display: block;
    width: 80%;  
    margin: auto;
    border-radius: 20px;
    border: 2px black solid;   
}
table{
    width: 80%;
    border-collapse: collapse;
    margin: auto;
}
th{
    background-color: brown;
    color: white
}
a:hover{
    color:black;
    background-color: red;
}
tr:hover{
    background-color: grey;
    color:white;
}